@{
    ViewData["Title"] = "Dirección General de Migración";
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="text-center" align="center">
    <h1 class="display-4">Bienvenido</h1><br />
    <h1><a class="home-btn" href="~/Personas/Index">Administrar Personas</a></h1>
    <br />
    <h1><a class="home-btn" href="~/Solicitudes/Index">Administrar Solicitudes</a></h1>
</div>